{% extends "layout.html" %}
{% block content %}
    <h1>About page</h1>
    <br>
    <p>
        <strong>Tasso Tennis Prenotazioni</strong> è l'innovativa piattaforma che ti permette di prenotare e gestire i campi da tennisss ovunque ti trovi con pochissimi click!
        <br><br>
        Goditi la nostra <strong>meravigliosa</strong> esperienza utente <strong>Super Responsive</strong> fruibile su qualique dispositivo: telefono, pc, laptop, tablet, smart TV, smartwatch, smart fridge, ecc.
        <br>
        <center><img src="/static/img/logo.png"/></center>
    </p>
{% endblock content %}