{% extends "layout.html" %}
{% block content %} 
    <div class="content-section">
        <form method="POST" action="" onsubmit="add_field(); return false;">
            {{ form.hidden_tag() }}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4"> Add a new Field</legend>
                <div class="form-group">
                    {{ form.name.label(class="form-control-label") }}

                    {% if form.name.errors %}
                        {{ form.name(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.name.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.name(class="form-control form.control.lg") }}
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ form.description.label(class="form-control-label") }}

                    {% if form.description.errors %}
                        {{ form.description(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.description.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.description(class="form-control form.control.lg") }}
                    {% endif %}
                    
                </div>
                <div class="form-group">
                    {{ form.address.label(class="form-control-label") }}

                    {% if form.address.errors %}
                        {{ form.address(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.address.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.address(class="form-control form.control.lg") }}
                    {% endif %}
                    
                </div>
                <div class="form-group">
                    {{ form.available_from.label(class="form-control-label") }}

                    {% if form.available_from.errors %}
                        {{ form.available_from(class="form-control form-control-lg is-invalid", type="time") }}
                        <div class="invalid-feedback">
                            {% for error in form.available_from.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.available_from(class="form-control form.control.lg", type="time") }}
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ form.available_to.label(class="form-control-label") }}

                    {% if form.available_to.errors %}
                        {{ form.available_to(class="form-control form-control-lg is-invalid", type="time") }}
                        <div class="invalid-feedback">
                            {% for error in form.password.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.available_to(class="form-control form.control.lg", type="time") }}
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ form.price_h.label(class="form-control-label") }}

                    {% if form.price_h.errors %}
                        {{ form.price_h(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.price_h.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.price_h(class="form-control form.control.lg") }}
                    {% endif %}
                </div>
            </fieldset>
            <div class="form-group">
                {{ form.submit(class="btn btn-outline-info", id="go") }}
            </div>
        </form>
      </div>

      <script>
            function add_field() {
                console.log( $('form').serialize());
                $.ajax({
                    url: '/api/fields',
                    data: $('form').serialize(),    // prende i dati del form
                    type: 'POST',

                    success: function(response) {
                        console.log(response);
                        risposta = JSON.parse(response);    // converte la risposta in JSON
                        
                        alert(risposta.message);            // stampa il messaggio di successo
                        $('form').trigger('reset');
                    },

                    error: function(error) {
                        errore = JSON.parse(error.responseText);     // converte la risposta in JSON
                        alert(errore.error);
                    }
                });
            }
    </script>
{% endblock content %}
  