{% extends "layout.html" %}
{% block content %}
<h1>Dashboard</h1>

<p><b>I tuoi campi: </b></p>
<div id="campi"></div>

<a href="{{url_for('addfield')}}"><button type="button" class="btn btn-outline-success">Aggiungi un campo</button></a>
<br>
<br>
<hr>

<p><b>Le prenotazioni sui tuoi campi: </b></p>
<div id="prenotazioni"></div>


<script>
    /* Funzione per eliminare un campo */
    function elimina(id) {
        $.ajax({
            url: '/api/fields/'+id,
            type: 'DELETE',

            success: function(response) {
                risposta = JSON.parse(response);    // converte la risposta in JSON
                alert(risposta.message);            // avvisa dell'avvenuto successo
                location.reload();                  // aggiorna la pagina
            },

            error: function(error) {
                errore = JSON.parse(error.responseText)     // converte la risposta in JSON
                alert(errore.error);                        // avvisa dell'errore
            }
        });
    } 
    
    /* Chiamata effettuata al caricamento della pagina per prendere i dati dei campi*/
    $.ajax({
        url: '/api/fields',
        type: 'GET',

        success: function(response) {
            risposta = JSON.parse(response);    // converte la risposta in JSON
            dati = risposta.rep;                // prende i dati ritornati
            
            // crea la tabella e la popola
            var tabella = $("<table></table>").addClass('table table-hover table-striped');
            var tbody = $("<tbody></tbody>");

            dati.forEach(element => {
                var riga = $("<tr></tr>");

                var col1 = $("<td></td>").text(element.name);
                var col2 = $("<td></td>").text(element.description);
                var col3 = $("<td></td>").text('€'+ element.price_h);
                var col4 = $("<td></td>").append(
                    $("<button></button>").addClass('btn btn-danger btn-sm')
                                          .attr('onclick', 'elimina('+element.id+')')
                                            .append(
                                                '<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16"><path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/><path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/></svg>'
                                                )
                    );
                
                riga.append(col1, col2, col3, col4);
                tbody.append(riga);
            });

            tabella.append(tbody);
            $("#campi").html(tabella);  // aggiunge la tabella al div apposito
        },

        error: function(error) {
            errore = JSON.parse(error.responseText)     // converte la risposta in JSON
        }
    });

    /* Chiamata effettuata al caricamento della pagina per prendere i dati delle prenotazioni sui campi*/
    $.ajax({
        url: '/api/prenotations',
        type: 'GET',

        success: function(response) {
            risposta = JSON.parse(response);    // converte la risposta in JSON
            dati = risposta.rep;                // prende i dati ritornati
            
            // crea e popola la tabella
            var tabella = $("<table></table>").addClass('table table-hover table-striped');
            var tbody = $("<tbody></tbody>");

            dati.forEach(element => {
                var riga = $("<tr></tr>");

                var col1 = $("<td></td>").text(element.date);
                var col2 = $("<td></td>").text(element.start);
                var col3 = $("<td></td>").text(element.end);
                var col4 = $("<td></td>").text(element.name);
                var col5 = $("<td></td>").text('€ '+ element.price);
                
                riga.append(col1, col2, col3, col4, col5);
                tbody.append(riga);
            });

            tabella.append(tbody);
            $("#prenotazioni").html(tabella);   // aggiunge la tabella all'apposito div
        },

        error: function(error) {
            errore = JSON.parse(error.responseText)     // converte la risposta in JSON
        }
    });
</script>
{% endblock content %}