<!DOCTYPE html>
<html>
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    
    <!-- JQUERY -->
    <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
  
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}">

    {% if title %}
        <title>Tennis courts renting platform - {{ title }}</title>
    {% else %}
        <title>Tennis courts renting platform </title>
    {% endif %}
</head>
<body>
    <header class="site-header">
      <nav class="navbar navbar-expand-md navbar-dark bg-steel fixed-top">
        <div class="container">
          <a class="navbar-brand mr-4" href="/">Tasso Tennis Noleggi </a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarToggle">
            <div class="navbar-nav mr-auto">
              <a class="nav-item nav-link" href="{{ url_for('dashboard') if current_user.is_authenticated else url_for('home') }}">Home</a>
              <a class="nav-item nav-link" href="{{ url_for('about') }}">About</a>
            </div>
            <!-- Navbar Right Side -->
            <div class="navbar-nav">
              <a class="nav-item nav-link" href="{{ url_for('login') }}">Login</a>
              <a class="nav-item nav-link" href="{{ url_for('register') }}">Register</a>
            </div>
          </div>
        </div>
      </nav>
    </header>
    <main role="main" class="container">
      <div class="row">
        <div class="col-md-{{8 if current_user.is_authenticated else 12}}">
          {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
              {% for category, message in messages %}
                <div class="alert alert-{{ category }}">
                  {{ message }}
                </div>
              {% endfor %}
            {% endif %}
          {% endwith %}
          {% block content %}{% endblock %}
        </div>
        <div class="col-md-4">
          {% if current_user.is_authenticated %}
            <div class="content-section">
              <h3>{{current_user.username}}</h3>
              <p class='text-muted'>Welcome back {{current_user.username}} !
                <ul class="list-group">
                  <li class="list-group-item list-group-item-light"><b>Name: </b> {{current_user.name}} {{current_user.surname}}</li>
                  <li class="list-group-item list-group-item-light"><b>User: </b>{{current_user.username}}</li>
                  <li class="list-group-item list-group-item-light"><b>Email: </b>{{current_user.email}}</li>
                  <li class="list-group-item list-group-item-light"><b>Type: </b>{{'LandOwner' if current_user.landowner else 'User'}}</li>
                </ul>
              </p>

              <a href="{{url_for('logout')}}"><button type="button" class="btn btn-outline-info" style="width: 100%;">Logout</button></a>
            </div>
          {% endif %}
        </div>
      </div>
    </main>
</body>
</html>